/*
 Theme Name:   Georgia Home View
 Theme URI:    http://gahomeview.com
 Description:  Theme for Georgia Home View
 Author:       Joshua Flowers
 Author URI:   http://echo5web.com
 Template:     etch
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  etch
*/

.subtitle {
    line-height: 1.5em;
    margin-top: 28px;
    color: #c5c5c5 !important;
}
.infobox-icon img {
    max-height: 60px;
    width: auto;
}

/** 
 * Woocommerce
 */
 .required {
    color: #d62f24;
 }
 .woocommerce-account .woocommerce-MyAccount-navigation ul {
    list-style: none;
    border: 1px solid #ececec;
    overflow: hidden;
    padding-left: 0;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 40px;
 }
 .woocommerce-account .woocommerce-MyAccount-navigation li {
    margin-bottom: 0;
    border-bottom: 1px solid #ececec;
 }
 .woocommerce-account .woocommerce-MyAccount-navigation li a {
    padding: 16px;
    display: block;
 }
 .woocommerce-account .woocommerce-MyAccount-navigation li.is-active {
     background: #8bc3e5;
 }
 .woocommerce-account .woocommerce-MyAccount-navigation li.is-active a {
     color: white;
 }
 @media (min-width: 769px) {
     .woocommerce-account .woocommerce-MyAccount-content {
         width: 65%;
     }
 }
 .woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message {
     border: 1px solid #e0e0e0;
     border-radius: 6px;
     -webkit-animation: none !important;
     -moz-animation: none !important;
     animation: none !important;
     position: relative;
     margin-bottom: 40px !important;
 }
 .woocommerce td.product-name dl.variation dd, .woocommerce td.product-name dl.variation dt {
    margin-bottom: 0;
}
 .woocommerce ul.cart_list li dl, .woocommerce ul.product_list_widget li dl {
     margin-top: 20px;
 }
 .woocommerce table.shop_table {
     border: 0px;
 }
 .woocommerce div.product form.cart .button,  {
     background-color: #88BCDE;
     color: #FFFFFF;
     border-color: #C1DFF3;
 }
 .woocommerce div.product form.cart .button:hover {
     background-color: #52A5DD;
     color: #fff !important;
 }
 .currency-symbol {
     left: -1px;
 }
 .single-product.woocommerce #content div.product div.summary {
     padding-top: 0 !important;
     width: 70%;
     margin: 0 auto;
     float: none;
 }
 .single-product.woocommerce #content div.product div.summary .summary-inner {
     max-width: none;
 }
 .single-product.woocommerce #content div.product div.images {
     display: none;
 }
input[type=checkbox], input[type=radio] {
	float: left;
	width: 40px;
	margin-top: 10px;
	margin-bottom: 0;
}

/**
 * WC Addons
 */
.addon-name {
    width: 100%;
}
div.product-addon {
    margin-top: 30px;
    clear: both;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
}
.woocommerce form .form-row {
    width: 100%;
}
.addon-has-image {
    float: left;
    width: 33% !important;
    cursor: pointer;
    padding: 0 !important;
    display: block;
    clear: none !important;
    margin: 0 !important;
}
.addon-has-image input[type=checkbox] {
    visibility: hidden;
    position: absolute;
}
.addon-has-image img {
  height: auto;
  width: 100%;
  display: block;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  margin: 0 auto;
  transition: transform .1s ease-in-out;
}
.addon-has-image label {
    position: relative;
    display: inline-block;
    transition: all .1s ease-in-out;
    background: #fbfbfb;
    /*border: 1px solid #e8eae9;*/
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
    height: 100%;
}
.addon-has-image .label-desc {
    padding: 10px;
    display: inline-block;
    line-height: 1.4em;
}
.addon-has-image label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}
.addon-has-image :checked + label {
/*  border-color: #ddd;*/
}

.addon-has-image :checked + label:before {
  content: "✓";
  background-color: #3cce2b;
  transform: scale(1);
  z-index: 10;

}

.addon-has-image :checked + label {
  /*transform: scale(0.9);*/
  box-shadow: 0 0 5px #333;
  /*box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);*/
  box-shadow:
  0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
  0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}
.addon-has-image :checked + label img {
  transform: scale(0.9);
}

/**
 * WC bookings
 */
 .form-field {
 	clear: both;
 }
 .wc-bookings-date-picker .ui-datepicker .ui-datepicker-title, .wc-bookings-date-picker .ui-datepicker .ui-datepicker-next, .wc-bookings-date-picker .ui-datepicker .ui-datepicker-prev {
    background: #545454;
 }
 .wc-bookings-date-picker .ui-datepicker-header {
    background: #545454;
 }

.wc_bookings_field_duration {
	visibility: hidden;
	height: 0;
}
.wc-bookings-booking-form {
    border: 0px;
    padding: 0;
}
.wc-bookings-booking-form fieldset {
    border: 0;
    padding: 0;
}